<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="telco"></ion-back-button>
    </ion-buttons>
    <ion-title color="telcoSecondary">Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" #loginFormRef="ngForm" novalidate>

    <ion-list-header>
      <h5>Digite una nueva Contraseña para ingresar a Telcos.</h5>
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Nueva Contraseña:</ion-label>
          <ion-input type="password" placeholder="Nueva Contraseña" formControlName="password" required></ion-input>
        </ion-item>
        <div class="text-tiny ion-text-right">
          <ion-text color="danger">
            <span [style.visibility]="f['password'].errors?.['required'] && loginFormRef?.submitted ? '' : 'hidden'">
              Campo requerido
            </span>
          </ion-text>
        </div>

      </ion-col>
    </ion-row>
    <ion-button (click)="onSubmit()" expand="block" color="telco">
      Generar
    </ion-button>

    <div class="text-tiny ion-text-center">
      <ion-text color="danger">
        <span [style.visibility]="invalidLogin ? '' : 'hidden'">
          No se pudo restablecer la contraseña
        </span>
      </ion-text>
    </div>
  </form>

</ion-content>
