<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" #loginFormRef="ngForm" novalidate>

    <ion-card>
      <ion-img class="img" src="../../../assets/logo_telcos.png"></ion-img>
    </ion-card>

    <ion-list-header>
      <h2>BIENVENIDO</h2>
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Usuario:</ion-label>
          <ion-input type="text" placeholder="Usuario" formControlName="user" required></ion-input>
        </ion-item>
        <div class="text-tiny ion-text-right">
          <ion-text color="danger">
            <span [style.visibility]="f['user'].errors?.['required'] && loginFormRef?.submitted ? '' : 'hidden'">
              Campo requerido
            </span>
          </ion-text>
        </div>

        <ion-item>
          <ion-label>Contraseña:</ion-label>
          <ion-input type="password" placeholder="Contraseña" formControlName="password" required></ion-input>
        </ion-item>
        <div class="text-tiny ion-text-right">
          <ion-text color="danger">
            <span [style.visibility]="f['password'].errors?.['required'] && loginFormRef?.submitted ? '' : 'hidden'">
              Campo requerido
            </span>
          </ion-text>
        </div>

      </ion-col>
    </ion-row>
    <ion-button (click)="onSubmit()" expand="block" color="telco">
      Ingresar
    </ion-button>

    <div class="text-tiny ion-text-center">
      <ion-text color="danger">
        <span [style.visibility]="invalidLogin ? '' : 'hidden'">
          Credenciales invalidas
        </span>
      </ion-text>
    </div>
  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="max-font">Versión 0.2.6</ion-title>
  </ion-toolbar>
</ion-footer>
