ion-icon {
 height: 25px;
 width: 25px;
}

.img {
  height: 30px;
}

.state{
  font-size: 12px;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.proceso {
  background-color: #3459C5;
  border: 0px solid #3459C5;
}

.razonada {
  background-color: #FF4B24;
  border: 0px solid #FF4B24;
}

.exitosa {
  background-color: #34C55E;
  border: 0px solid #34C55E;
}


