<app-menu></app-menu>
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" class="color-icon"></ion-menu-button>
    </ion-buttons>
    <ion-img class="img" src="./../../assets/logo_telcos_header.png"></ion-img>
    <!-- <ion-title>TELCOS</ion-title> -->
    <ion-buttons slot="end">
      <ion-button class="color-icon" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content class="color-icon"></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h1>Ordenes de trabajo</h1>
      </ion-label>
      <ion-button></ion-button>
    </ion-list-header>
    <ion-item-sliding *ngFor="let workOrder of workOrders">

      <ion-item-options side="start">
        <ion-item-option color="success" (click)="viewWorkOrder(workOrder)">
          <ion-icon slot="icon-only" name="clipboard-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item>
        <ion-label>
          <h3 class="text-bold text-small">OT:</h3>
          <h3 class="text-small">{{workOrder.numeroOrdenDto}}</h3>
          <h3 class="text-bold text-small">Cuenta:</h3>
          <h3 class="text-small">{{workOrder.cuentaSuscriptorDto}}</h3>
        </ion-label>

        <ion-label>
          <h3 class="text-bold text-small">Suscriptor:</h3>
          <h3 class="text-small ion-text-wrap">{{workOrder.nombreCompletoSuscriptorDto}}</h3>
        </ion-label>

        <ion-label slot="end" class="ion-text-end text-small">
          <a class="state" [ngClass]="workOrder.codEstadoOrdenDTO == 'RAZO' ? 'razonada' : workOrder.codEstadoOrdenDTO == 'ENPR' ? 'proceso' : 'exitosa'">{{ workOrder.nombreEstadoOrdenDTO }}</a>
        </ion-label>
      </ion-item>

      <ion-item-options side="end" *ngIf="workOrder.codEstadoOrdenDTO == 'ENPR'">
        <ion-item-option (click)="goToManageWorkOrder(workOrder)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-list *ngIf="validateLengthData">
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-skeleton-text slot="end" animated style="width: 20%"></ion-skeleton-text>
    </ion-item>
  </ion-list>

</ion-content>
