.text-small {
  font-size: 12px;
}

.text-bold {
  font-weight: bold;
}

.img {
  height: 30px;
}

.state{
  font-size: 12px;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 10px 10px 10px 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.proceso {
  background-color: blue;
  border: 0px solid blue;
}

.razonada {
  background-color: red;
  border: 0px solid red;
}

.exitosa {
  background-color: green;
  border: 0px solid green;
}
